/*

Course: Endproject
Minor programming, University of Amsterdam
Raoul Lieben
10556346

style.css : stylesheet for graphs on the webpage.
				
*/


/* 
network graph
*/

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1px;
}

/* 
barchart 
*/

.bar {
  	fill: steelblue;
}

.bar:hover {
  	fill: brown;
}

.axis--x path {
  	display: none;
}


/* heatmap */

rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;   
}

text.mono {
	font-size: 7pt;
	font-family: Consolas, courier;
	fill: #aaa;
}

text.axis-workweek {
	fill: #000;
}

text.axis-worktime {
	fill: #000;
}
svg *::selection {
	background : transparent;
}

svg *::-moz-selection {
	background:transparent;
} 

	svg *::-webkit-selection {
	background:transparent;
}
rect.selection {
	stroke          : #333;
	stroke-dasharray: 4px;
	stroke-opacity  : 0.5;
	fill            : transparent;
}

rect.cell-border {
	stroke: #eee;
	stroke-width:0.3px;   
}

rect.cell-selected {
	stroke: rgb(51,102,153);
	stroke-width:0.5px;   
}

rect.cell-hover {
	stroke: red;
	stroke-width:5px;   
}

text.text-selected {
	fill: green;
}

text.text-highlight {
	fill: #c00;
}

text.text-hover {
	fill: #00C;
}

#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 20px;
}